body {
    color: #0857a6;
}

.dropdown-menu {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.card {
    border: 1px solid rgba(150, 239, 213, 0.83);
    height: 350px;
}

.card:hover {
    box-shadow: 0px 0px 50px rgba(0.5, 0.5, 0.5, 0.5);
    height: 100%;
}

img {
    opacity: 0.7;
}

.card:hover img {
    opacity: 1;
}

.form-link {

    color: #0ebb94;
}

.form-link--active {
    color: #0857a6;
}

a {
    color: #0ebb94;
}

a:hover {
    color: #5aefca;
}

a:active {
    color: #FA6B2B;
}

.bg-custom {
    color: #0857a6;
    background-color: #c5f4e294;
    border: 1px solid rgba(150, 239, 213, 0.83);
}

.btn-sm {
    display: inline-flex;
    padding: 0;
    font-size: 21px;
}

.far, .fas {
    font-size: 21px;
    margin-right: 10px;
    margin-left: 10px;
}

.text-custom {
    color: #5aefca;
}

.card-img-top {
    /*height: 15vw;*/
    /*object-fit: cover;*/
}

.card-text {
    opacity: 0;
}

.card:hover .card-text {
    opacity: 1;
}

.zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.zoom:active {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position: relative;
    z-index: 100;
}

.products-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 40px;
    margin: 40px 100px 40px 100px;
}
