<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--my custom styles:-->
    <link rel="stylesheet" href="/assets/css/custom.css">

    <title>Online-Shop</title>
</head>
<body>
<header>
    <div class="jumbotron jumbotron-fluid bg-custom">
        <div class="container">
            <h1 class="display-4">Online-Shop</h1>
            <p class="lead">This is your favorite shop!</p>
        </div>
    </div>
    <nav>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="/products">All Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/add">Add Product</a>
            </li>
            <li class="nav-item">
                <div class="nav-link active">
                    <div class="d-flex justify-content-center mx-0">
                        <a href="/cart" class="mx-3" title="Cart">
                            <i class="fas fa-shopping-cart text-custom"></i>
                        </a>

                        <form action="/logout" method="post" class="form-inline">
                            <div class="mb-1"></div>
                            <button class="btn btn-sm bg-transparent text-custom mb-0" title="Logout"
                                    data-toggle="tooltip"><i class="fas fa-sign-out-alt text-custom "></i></button>
                        </form>
                    </div>
                </div>
            </li>

        </ul>
    </nav>
</header>


<section class="products">
    <div class="container">
        <div class="row m-3 ">
            <!--div class="container my-5"-->
            <#list model["cart"] as product>
                <div class="card col-md-6 col-lg-3 p-0">
                    <img class="card-img-top zoom p-0" src="<#if product.picturePath??>${product.picturePath}</#if>"
                         alt="Product image">
                    <div class="card-body">
                        <div class="card-title m-0 p-0 d-flex justify-content-between">
                            <h6>${product.name}</h6>
                            <p>${product.price} $</p>
                        </div>
                        <div class="card-text d-flex justify-content-between">
                            <p>Description: ${product.description}</p>
                        </div>


                    </div>
                </div>
            </#list>
        </div>
    </div>
</section>

<footer></footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
</html>


