<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--my custom styles:-->
    <link rel="stylesheet" href="/assets/css/custom.css">

    <title>Hello, world!</title>
</head>
<body>
<header>
    <div class="jumbotron jumbotron-fluid bg-custom">
        <div class="container">
            <h1 class="display-4">Online-Shop</h1>
            <p class="lead">This is your favorite shop!</p>
        </div>
    </div>
    <nav>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="/products">All Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/add">Add Product</a>
            </li>
            <#if authorizedUser??>
                <li class="nav-item">
                    <div class="nav-link active">
                        <div class="d-flex justify-content-center">
                            <i class="far fa-grin-wink text-custom  my-auto"></i>
                            <a href="/login" >${authorizedUser},</a>
                            <form action="/logout" method="post" class="form-inline">
                                <button class="btn btn-sm bg-transparent text-custom " title="Logout"                                   data-toggle="tooltip">
                                    <i class="fas fa-sign-out-alt text-custom  my-auto"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
                <#else>
                    <li class="nav-item">
                        <a class="nav-link active" href="/login"><i class="fas fa-user text-custom"></i> Login/Register</a>
                    </li>
            </#if>
        </ul>
    </nav>
</header>


<div class="container my-5">
    <#if authorizedUser??>
        <h1 class="display-4 d-flex justify-content-center">Welcome!</h1>
        <#else>

            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <div class="nav-link d-flex justify-content-center">
                        <i class="fas fa-sign-in-alt text-custom my-auto"></i>
                        <a class="form-link" href="/login"> Login Form</a>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="nav-link active d-flex justify-content-center">
                        <i class="fas fa-user-plus text-custom my-auto"></i>
                        <a class="form-link--active" href="/register"> Register Form</a>
                    </div>
                </li>

            </ul>

            <form action="/register" method="post" class="mt-3">

                <div class="form-group">
                    <label for="login" class="font-weight-light">Login:</label>
                    <input type="text" name="login" class="form-control" id="login" placeholder="Enter user name"
                           required>
                    <small id="namez" class="form-text text-danger">
                        <#if loginIsExistError??>User with login ${loginIsExistError} already exist!</#if>
                    </small>
                </div>

                <div class="form-group">
                    <label for="password" class="font-weight-light">Password:</label>
                    <input type="password" class="form-control" name="password" id="password"
                           placeholder="Enter user password"
                           required>
                </div>

                <button type="submit" class="btn bg-custom">Register</button>

            </form>
    </#if>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

</body>
</html>